<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-06-10T18:40:49Z</date>
	<key>WorkspacePath</key>
	<string>/Users/nastia/Projects/Xamarin.Bindings.PaperOnboarding/PaperOnboarding.Xamarin.iOS/paper-onboarding/PaperOnboardingDemo/PaperOnboardingDemo.xcodeproj</string>
</dict>
</plist>
